<h1>All Matches</h1>

<ul>
  <% @matches.each do |match| %>
   <li> <%= link_to match.name, match_path(match) %></li>
  <% end %>
</ul>

<p><%= link_to 'Add a match', matches_new_path %></p>

<p> <%= link_to "Back to Home", root_path %> </p>
